.app-container {
  position: relative;
  width: 1280px;
  min-height: 720px;
  background: #FFFFFF;
  margin: 0 auto;
  padding: 0 80px;
}

.search-container {
  margin: 40px 0;
}

.users-container {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.users-row {
  display: flex;
  flex-direction: row;
  gap: 25px;
}